* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    display: flex;
    justify-content: center;
    max-height: 180px;
    height: 100%;
}

form input {
    height: 24px;
    border-radius: 16px;
    margin-top: 16px;
}

form button {
    height: 36px;
    width: 40%;
    margin: 30px 0;
    margin-left: 33%;
    background-color: teal;
    border: none;
    border-radius: 40px;
    color: #fff;
}

.container {
    display: grid;
    align-items: center;
    margin: 24px 16px;
}

h1 {
    font-size: 48px;
    order: 0;
}

.listaTarefas {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

ul {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul li {
    border-radius: 20px;
    text-align: center;
    list-style: none;
    background-color: rgba(165, 42, 42, 0.479);
    max-width: 30%;
    margin: 2% 1.667%;
    width: 100%;
    max-height: 75px;
    cursor: pointer;
}

ul li p {
    margin: 8px;
    padding-bottom: 6px;
}

.concluida {
    background-color: #7ff5a3;
    max-height: 110px;

}

footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.705);
    color: #fff;
}